*.o
# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# 排除所有构建目录
[bB]uild*/
[bB]in*/
[Oo]bj*/
[Oo]ut*/

# 排除所有日志目录
[Ll]og*/
[Ll]ogs*/
[Ss]erver[Ll]og*/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
